@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}

body, html {
height: 100%;
width: 100%;
overflow-x: hidden;
}

body {
	font-family: ubuntu;
	margin: 0px;
	font-style: normal;
	font-weight: 200;
}

#headerdelta {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
	border-width: 0px;
}

a {
	color: white;
	text-decoration: none;
}

.col-lg-6 {
	height: 50%;
}

/* Control the left side */
.left {
left: 0;
float: left;
background-image: url("../images/deltagalveston.jpg");
background-size: cover;
text-align: center;
}

/* Control the right side */
.right {
right: 0;
float: right;
background-image: url("../images/Deltaganges.jpg");
background-size: cover;
text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 200px;
  border-radius: 0%;
}

a:link, a:visited {
	color: black;
	text-align: center;
	text-decoration: none;
	}

.button {
	width: 200px;
	margin: 40px auto;
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #ce846b;
	color: #C4C4C4;
	cursor: pointer;
}

#leafet {
	height: 100%;
	width: 100%;
}