
#headerganges {
    height: 50vh;
    background-image: url("../images/Ganges2.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    font-family: 'Ubuntu', sans-serif;
}

#column {
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    width: 100% !important;
}